<div class="new-cock-form">
  <div class="form-div">
    <i class="fas fa-layer-group mb-4" id='in-form'></i>
    <h1 class='text-white font-weight-bold pb-5 form-h1'>Sign Up
    </h1>
    <div>
      <div>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs container mt-3">
          <div class="text-white">
          <%= f.input :first_name %>
          </div>
          <div class="text-white">
          <%= f.input :last_name %>
          </div>
          <div class="text-white">
          <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" }%>
          </div>
          <div class="text-white">
          <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
          </div>
          <div class="text-white">
          <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
          </div>
          <div class="form-actions pb-5 mb-5">
            <%= f.button :submit, "Sign up", class: "btn btn-success btn-width mt-1 mx-2"%>
            <%= render "devise/shared/links" %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
