<div class="user-container">
  <h1>SEARCH BAR HERE</h1>
  <div class="container">
    <% @users.each do |user| %>  
      <%= link_to user_path(user) do %>
        <div class="card-user">
          <%= image_tag "coding_card2.jpg", id: "user_card_image" %>
          <div class="card-user-infos">
            <div>
              <h2><%= user.first_name %> <%= user.last_name %></h2>
              <p>Languages known: 
              <% if user.skills[0] != nil %>
                <strong><%= user.skills[0].name %></strong>
              <% end %>
            </div>
              <h2 class="user-pricing"><%= "#{user.price_per_hour}£" %></h2>
            <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-user-avatar avatar-bordered" />
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

























<% if false %>
  
  <ul>
    <% @users.each do |user| %>
      <li>
      <p><%= user.first_name %>
      <%= user.last_name %>
      <% if user.skills[0] != nil %>
      <%= user.skills[0].name %>
      <% end %>
      </p>
      <%= link_to "Check info", user_path(user), class: "btn btn-primary" %>
      </li>
    <% end %>
  </ul>

<% end %>
