<div class="user-container">
  <%# <h1>SEARCH BAR HERE</h1> %>
  <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
  <div class="search-form-control form-group">
    <input class="form-control string required" type="text" name="search[query]" id="search_query" />
    <button name="button" type="submit" class="btn btn-flat">
      <i class="fas fa-search"></i> Search
    </button>
  </div>
</form>
  <div class="card-container">
    <% @users.each do |user| %>
      <div class="card-user">
        <%= link_to user_path(user) do %>
          <% if user.photo.present? %>
            <%= cl_image_tag user.photo.key, class: "user_card_image" %>
          <% else %>
            <%= cl_image_tag "el5zuglot14jgl44hjr5alr3qpzz", class: "user_card_image" %>
          <% end %>
          <div class="card-user-infos">
            <div>
              <h2><%= user.first_name %> <%= user.last_name %></h2>
              <p>Languages known:
              <% if user.skills[0] != nil %>
                <strong><%= user.skills[0].name %></strong>
              <% end %>
            </div>
            <h2 class="user-pricing"><%= "#{user.price_per_hour}£" %></h2>
          <!-- <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-user-avatar avatar-bordered" /> -->
          </div>
        <% end %>
      </div>
    <% end %>      
  </div>
</div>
