<ul class="list-inline tabs-underlined my-5">
  <li>
    <a href="#" id='my-profile' class="tab-underlined active">My
      Profile</a>
  </li>
  <li>
    <a href="#" id="my-bookings" class="tab-underlined">My Bookings</a>
  </li>
</ul>
<% default_av = cloudinary_url("avatar_daq4b6") %>

<div id="profile-card-product">
  <div class="container">
  <div class="flex">
    <div class="card-product">
      <% if current_user.photo.present? %>
        <div class="container-fluid card-image"
             style="background-image: url('<%=cl_image_path @user.photo.key %>');">
      </div>
      <% else %>
      <div class="container card-image" style="background-image: url('<%= default_av %>');">
      </div>
      <% end %>
      <div class="card-product-info ml-5">
        <h6 class='
      profile-divs pb-4'>
          <%= @user.first_name %>
          <%= @user.last_name %>
        </h6>

        <h6 class='rankings pb-2 font-weight-bold'> Price per hour:
          <%= @user.price_per_hour %>£</h6>
        <h6 class='rankings pb-2 font-weight-bold'> Years of experience:
          <%= @user.years%>

        </h6>
        <h6 class='rankings pb-2 font-weight-bold'> Specialty:
          <%= @user.specialism%>
        </h6>
      </div>
      <div class="skills container">
        <h1 class='profile-divs pb-3'>Skills</h1>
        <% if @user.skills.empty? %>
        <p class='not-listed'>Not listed</p>
          <% else %>
            <% @user.skills.each do |skill| %>
            <h6 class='text-warning'>
              <%= skill.name %>
            </h6>
            <% end %>
          <% end %>
      </div>
      <div class="get-in-touch container">
        <h1 class='profile-divs pb-3'>Contact</h1>
        <h6 class='text-success'>
          <%= link_to @user.github do  %>
          <i class="fab fa-github-square pr-3 text-success"></i><span
            class='text-success'>Github</span>
          <% end %>
        </h6>
        <h6 class='text-success'>
          <%= link_to @user.linkedin do  %>
          <i class="fab fa-linkedin pr-3 text-success" id='fab-icons'></i><span
            class='text-success'>LinkedIn</span>
          <% end %>
        </h6>
        <h6 class='text-success'>
          <%= link_to @user.medium do  %>
          <i class="fab fa-medium pr-3 text-success"></i><span class='text-success'>Medium</span>
          <% end %>
        </h6>
        </h6>
        <h6 class='text-success'>
          <%= link_to @user.profile_website do  %>
          <i class="fas fa-globe-europe pr-3 text-success "></i><span
            class='text-success'>Personal
            Website</span></h6>
        <% end %>
      </div>
      </div>
      </div>
      <div class="become-tutor">
        <% unless @user.consultant %>
        <%= link_to 'Become a tutor', consultant_path(@user), method: :put, class: 'btn btn-outline-success'  %>
        <% else %>
        <%= link_to 'Hide the profile', consultant_false_path(@user), method: :put, class: 'btn btn-outline-danger', id: ' button-cons'  %>
        <% end %>
      </div>
      <div class="about-me my-5 pl-4 pb-5">
          <h2 class='about'>About Me</h2>
          <p>
            <%= @user.about_me %>
          </p>
      </div>
      <div id='profile-bookings'>
        <div class="d-flex">
          <div class="get-in-touch-no-bar container">
            <h4 class='profile-divs pb-3'>Accepted</h4>
            <% if @accepted.empty? %>
              <p>Not yet booked</p>
            <% else %>
              <% @accepted.each do |booking| %>
              <h6 class="rankings bold pb-3">Booked by:
                <%= booking.user.first_name %>
                <%= booking.user.last_name %>
              </h6>
              <h6 class='rankings bold pb-3'>Title:
                <%= booking.description  %>
              </h6>
              <h6 class='rankings bold pb-3'>Start time:
                <%= booking.start_time  %>
              </h6>
              <h6 class='rankings bold pb-3'>End time:
                <%= booking.end_time  %>
              </h6>
              <% end %>
            <% end %>
          </div>
          <div class="get-in-touch-no-bar container">
            <h4 class='profile-divs pb-3'>My Lessons</h4>
            <% if @bookings.empty? %>
              <p>No booking now</p>
            <% else %>
              <% @bookings.each do |booking| %>
                <h6 class="rankings bold pb-3">Booked wth:
                  <%= User.find(booking.booked_user_id).first_name %>
                  <%= User.find(booking.booked_user_id).last_name %>
                </h6>
                <h6 class='rankings bold pb-3'>Description:
                  <%= booking.description  %>
                </h6>
                <h6 class='rankings bold pb-3'>Start time:
                  <%= booking.start_time  %>
                </h6>
                <h6 class='rankings bold pb-3'>End time:
                  <%= booking.end_time  %>
                </h6>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>

