<h1>My Profile</h1>

<h3>Bookings</h3>
<% @bookings.each do |booking| %>
<p>
  <%= booking.title  %> <%= link_to 'Cancel booking', booking_path(booking), method: :delete, class: 'btn btn-outline-danger'  %>
</p>
<ul>
  <li>
    <%= booking.description  %>
  </li>
  <li>
    <%= booking.start_time  %>
  </li>
  <li>
    <%= booking.end_time  %>
  </li>
  <li>Total cost: <%= User.find(booking.booked_user_id).price_per_hour * (booking.end_time.hour - booking.start_time.hour) %>£</li>
</ul>
<% end %>
