<ul class="list-inline tabs-underlined my-5">
  <li>
    <a href="#" id="my-profile" class="tab-underlined active">My Profile</a>
  </li>
  <li>
    <a href="#" id="my-bookings" 'class="tab-underlined">My Bookings</a>
  </li>
</ul>
<div id='profile-card-product' class="flex">
  <div class="card-product">
    <div class="container-fluid card-image">
    </div>
    <div class="card-product-info ml-5">
      <h1> <%= @user.first_name %> <%= @user.last_name %></h1>
    <h6 class='rankings bold'><%= @user.job_title %></h6>
    <h6>esds</h6>
    <h6>esds</h6>

    </div>
    <div class="skills container">
      <h1>Skills</h1>
      <h6>wcscsd</h6>
      <h6>svss</h6>
    </div>
    <div class="get-in-touch container">
      <h1>Contact</h1>
    </div>
  </div>
</div>
<div id='profile-bookings'>
<h3 class='mt-5'>Bookings</h3>
<% @bookings.each do |booking| %>
<p>
  <%= booking.title  %>
  <%= link_to 'Cancel booking', booking_path(booking), method: :delete, class: 'btn btn-outline-danger'  %>
</p>
<ul>
  <li>
    <%= booking.description  %>
  </li>
  <li>
    <%= booking.start_time  %>
  </li>
  <li>
    <%= booking.end_time  %>
  </li>
  <li>Total cost:
    <%= User.find(booking.booked_user_id).price_per_hour * (booking.end_time.hour - booking.start_time.hour) %>£</li>
</ul>
</div>
<% end %>
